body {
	background-color: #C1F0C6;
}
.menu_layer {
	position: absolute;
	height: 510px;
	width: 203px;
	top: 96px;
	bottom: 5px;
	left: 6px;
}
.top_layer {
	position: absolute;
	height: 70;
	width: 833px;
	left: 156px;
	top: 1px;
}
.text_layer {
	position: absolute;
	width: 754px;
	left: 234px;
	top: 80px;
	right: 5px;
	height: 532px;
	clip: rect(auto,auto,490,auto);
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	overflow: auto;
	scrolling: no;
	
}
